- title "Page"

%p.model_actions
  = link_to "Edit", @background ? edit_background_page_path(@background,@page) : edit_page_path(@page)
  |
  = link_to "Destroy", @background ? background_page_path(@background,@page) : @page, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", @background ? background_pages_path(@background) : pages_path

%p
  %strong Position:
  =h @page.position
%p
  %strong Image:
  =h @page.image_id
%p
  %strong Background:
  =h @page.background_id
%p
  %strong Txt:
  =h @page.txt

