- title "Faction"

%p.model_actions
  = link_to "Edit", edit_faction_path(@faction)
  |
  = link_to "Destroy", @faction, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", factions_path

%p
  = image_tag @faction.image.data.url(:small) if @faction.image
%h2
  =h @faction.name



