- title "Image"

%p.model_actions
  = link_to "Edit", edit_image_path(@image)
  |
  = link_to "Destroy", @image, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", images_path

%p
  %strong Title:
  =h @image.title
%p
  %strong Data File Name:
  =h @image.data_file_name
%p
  %strong Data Content Type:
  =h @image.data_content_type
%p
  %strong Data File Size:
  =h @image.data_file_size
%p
  %strong Data Updated At:
  =h @image.data_updated_at


