- title "Unit Option"

%p
  %strong Name:
  =h @unit_option.name
%p
  %strong Unit:
  =h @unit_option.unit_id
%p
  %strong Cost:
  =h @unit_option.cost
%p
  %strong Move:
  =h @unit_option.move
%p
  %strong Force:
  =h @unit_option.force
%p
  %strong Skill:
  =h @unit_option.skill
%p
  %strong Resistance:
  =h @unit_option.resistance
%p
  %strong Fly:
  =h @unit_option.fly
%p
  %strong Background:
  =h @unit_option.background_id
%p
  %strong Type:
  =h @unit_option.equip_type
%p
  %strong Use:
  =h @unit_option.use
%p
  %strong Quantity:
  =h @unit_option.quantity
%p
  %strong Image:
  =h @unit_option.image_id

%p
  = link_to "Edit", edit_unit_option_path(@unit_option)
  |
  = link_to "Destroy", @unit_option, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", unit_options_path
