- title "Environment"

%p.model_actions
  = link_to "Edit", edit_environment_path(@environment)
  |
  = link_to "Destroy", @environment, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", environments_path

%p
  %strong Name:
  =h @environment.name
%p
  %strong Image:
  =h @environment.image_id

