- title "Game"

%p.model_actions
  = link_to "Edit", edit_game_path(@game)
  |
  = link_to "Destroy", @game, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", games_path

%p
  %strong Environment:
  =h @game.environment_id
%p
  %strong Level:
  =h @game.level_id

