- title "Squadron Unit"

%p.model_actions
  = link_to "Edit", edit_squadron_unit_path(@squadron_unit)
  |
  = link_to "Destroy", @squadron_unit, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", squadron_units_path

%p
  %strong Squadron:
  =h @squadron_unit.squadron_id
%p
  %strong Unit:
  =h @squadron_unit.unit_id
%p
  %strong Level:
  =h @squadron_unit.level
%p
  %strong Exp:
  =h @squadron_unit.exp
%p
  %strong Position:
  =h @squadron_unit.position

